---
interface Props {
  active?: boolean;
  href: string;
}

const { active = false, href } = Astro.props;
---

<li>
  <a
    class="block min-w-32 cursor-pointer font-medium px-4 py-2 text-center uppercase transition-colors whitespace-nowrap z-[1]"
    class:list={{
      'bg-transparent': !active,
      'bg-nav-item-active': active,
    }}
    href={href}
  >
    <slot />
  </a>
</li>
