@font-face {
  font-display: swap;
  font-family: 'Heading Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HeadingPro-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Heading Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/HeadingPro-Book.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Heading Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/HeadingPro-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Heading Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/HeadingPro-ExtraBold.woff') format('woff');
}
